/* Style for the table */
table {
    width: 80%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
  }
  
  /* Style for the table header */
  th {
    background-color: #aaf0fa;
  }
  
  /* Style for the links */
  a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  